@charset "UTF-8";
/* CSS Document */
body{
	background-color: #DFDFDF
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
h1, h2, h3, h4, p, a{
	margin:0;
	padding: 0;
	font-family: "Arial";
	font-weight: normal;
}
ul {
  	list-style: none;
  	padding: 0;
  	margin: 0;
	border: 0;	
}


/*Header*/
.header{
	box-sizing: border-box;
	background-color: #583e6c;
	width:100%;
}
.header_logo{
	margin: 10px;
	display: inline;
	vertical-align:middle;
}
.header_inner{
	display:inline-block;
	vertical-align: middle;
}
.header_title{
	color:#fff;
	font-size:26px;
	text-transform: uppercase;
}
.header_subtitle{
	color:#898989;
	font-size:16px;
	text-transform: uppercase;	
}


/*Content*/
.content{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-color:#fff;
}


/*Welcome*/
.welcome{
	order: 1;
	width: 100%;
	position: relative;
	margin-top: 15px;
	height: 280px;
	background-image:url(../images/photographer.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}
.welcome article{
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0;
	width: 100%;
}
.welcome article h3,p{
	color: #fff;
	margin: 5px;
}


/*Categories*/
.categories	{
	order: 2;
	width: 100%;
	margin-top: 15px;
	position:relative;
	background-color:#898989;

}
.categories_title
{
	padding: 5px;
	line-height: 24px;
	color: #fff;
}
.categories_more{
	float:right;
	text-decoration: none;
	color: #cecece;
	font-size: 12px;
}
.categories_item {
	line-height: 50px;
	text-decoration: none;
	background-color: #F1F1F1;
	border-bottom: 1px solid #A2A2A2;
	text-align: center;
	font-size: 20px;
}
.categories_item:after{
	
}
.categories_item:last-child{
	border-bottom:non 
}
.categories_item a{
	display: block;
	text-decoration: none;
	color:#323232;
	text-transform: uppercase;
}
.categories_item a:hover{
	background-color:#583e6c;
	color:#fff;
}


/*Latest*/
.latest{
	order: 3;
	width: 100%;
	margin-top: 15px;
	position:relative;
	background-color:#898989;
}
.latest_title{
	padding: 5px;
	line-height: 24px;
	color: #fff;
}
.latest_more{
	float:right;
	text-decoration: none;
	color: #cecece;
	font-size: 12px;
}
.latest_item{
	background-color:#fff;

	border-bottom: 1px solid #000;
	overflow: auto
}
.latest_thumbnail{
	background-color:#F1F1F1;
	float: left;
	padding: 5px;
	width:50%;
	vertical-align: middle;
}
.latest_thumbnail img{
	width:100%;
}
.latest_item_title{
	float: left;
	margin: 5px;
	line-height: 24px;
	font-size: 20px;
	width: 40%;
}
.latest_item_title a{
	text-decoration:underline;
	color:#323232;	
}
.latest_item_description{
	float: left;
	margin: 5px;
	line-height: 15px;
	font-size: 15px;
	width: 40%;
	color: #898989;
}
.latest_item_category{
	float: left;
	padding: 2px;
	background-color:#be602d;
	line-height: 16px;
	font-size: 16px;
}



/*Footer*/
.footer{
	margin-top: 15px;
	background-color: #583e6c;
	width: 100%;
	position: relative;
	min-height: 115px;
}
.footer_social{
	position: relative;
	text-align: center;
	width: 100%;
}

.footer_social a{
	margin: 15px;
	display: inline-block;
	position: relative;
	text-decoration: none;
	line-height: 30px;
	width: 48px;
	height: 48px;
}
.footer_social_image{
	width: 48px;
	height: 48px;
}
.footer_copyright{
	position: absolute;
	bottom: 0;
	padding: 5px 0 5px 0;
	display: block;
	text-align: center;
	color: #fff;
	width: 100%;
	font-size:12px;
}



/*Media Queries*/
@media screen AND (max-width: 420px) {
	.header_logo{
		height:60px;
	}

	.welcome{
		width:100%;
	}
	
	.welcome article p{
		font-size: 12px;
	}
	
	.latest_item_description{
		display:none;
	}
}

@media screen AND (min-width:421px) AND (max-width:800px){
	.welcome{
		width:70%;
		height: 300px;
	}
	
	.categories{
		margin-top: 15px;
		width:30%;
		height: 100%;
	}
	.categories_title{
		font-size: 18px;
	}
	.categories_more{
		font-size: 10px;
	}
	
	.categories_item{
		line-height: 30px;
		font-size: 18px;
	}
	
	
	.latest{
		width:100%;
	}
	.latest_title{
		font-size: 18px;
	}
	.latest_more{
		font-size: 10px;
	}
	.latest_item_title{
		font-size: 24px;
	}
	.latest_item_description{
		line-height: 22px;
		font-size: 22px;
	}
	.footer_social a{
		padding: 0px 20px 0px 20px;
	}
}

@media screen AND (min-width:801px){
	.content{
		width:820px;
		margin: auto;
	}
	.welcome{
		width:70%;
		height: 400px;
	}
	.welcome h3{
		font-size: 30px;
	}
	.categories{
		margin-top: 15px;
		width:30%;
		height: 100%;
	}
	.categories_title{
		font-size: 18px;
	}
	.categories_more{
		font-size: 14px;
	}
	
	.categories_item{
		line-height: 30px;
		font-size: 18px;
	}
	
	
	.latest{
		width:100%;
	}
	.latest_title{
		font-size: 18px;
	}
	.latest_more{
		font-size: 14px;
	}
	.latest_item_title{
		font-size: 24px;
	}
	.latest_item_description{
		line-height: 22px;
		font-size: 22px;
	}
	.footer_social a{
		padding: 0px 80px 0px 80px;
	}
}

.footer_copyright{
	font-size: 14px;
}
